.features .box {
  padding: 50px;
}
.features .box h2 {
  margin: 20px 0 20px 0;
}
.features .box p {
  word-spacing: 2px;
  transition: 0.5s;
}
.features .box i {
  font-size: 30px;
  margin-top: 20px;
  transition: 0.5s;
  opacity: 0;
}
.features .box:hover p {
  color: white;
}
.features .box:hover i {
  color: white;
  opacity: 1;
}

/*NEW CSS
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}

.col__2 {
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.col__3 {
  max-width: 33.333333%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

/* RESPONSIVE 
@media only screen and (max-width: 768px) {
  .col__3 {
    max-width: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .col__3 {
    max-width: 100%;
  }
} 
@media only screen and (max-width: 425px) {
  span.copyright {
    font-size: 13px !important;
  }
  .footer.d__flex.align__items__center.justify__content__space__between.pz-10 {
    flex-wrap: wrap;
  }
}
*/
