
/*******************************************************/
.Skills .heading h1 {
  font-size: 40px;
  text-align: center;
}
.Skills .content {
  max-width: 85%;
  margin: auto;
}
.Skills .box {
  padding: 40px;
}
.Skills hr {
  margin: 30px 0 30px 0;
  border: 1px solid #e3e9ed;
  background-color: #e3e9ed;
}
.Skills .rate .btn_shadow {
  color: #08fdd8;
  padding: 15px 30px;
  font-weight: bold;
  transition: 0.5s;
}
.Skills p {
  font-size: 18px;
  transition: 0.5s;
}
.Skills .box {
  margin-bottom: 40px;
  position: relative;
}
.Skills .btn_shadow:hover {
  transform: translate(0);
}
.Skills .box:hover .btn_shadow {
  background: #08fdd8;
  box-shadow: none;
  color: white;
}
.Skills .box:hover p {
  color: white;
}

.Skills .left::after {
  content: "";
  position: absolute;
  top: 16%;
  left: 0;
  height: 118vh;
  width: 5px;
  background: #d9dee2;
  z-index: -2;
}
.Skills .box::after {
  content: "";
  position: absolute;
  top: 13%;
  left: -8%;
  height: 5px;
  width: 50px;
}

.Skills .box:hover.box:before {
  background: #08fdd8;
}
@media (max-width: 768px) {
  .Skills .d_flex {
    margin-top: 5%;
    flex-direction: column;
  }
  .Skills .left::after {
    top: 14%;
    height: 105vh;
  }
}

